//-----------------------------------------------------------------------------
// Paper Plane xUI	 commom library		リソース
//
// ダイアログサイズは、318,190 未満推奨
// ( Win95/98 640*480 のとき、Eng:318,214 Jpn:318,190 が最大値)
//-----------------------------------------------------------------------------
#ifndef WINEGCC
#include "PPXVER.H"
#include "PPX.RH"
#endif
#include "PPCOMMON.RH"
//-------------------------------------------------------------------- アイコン
Ic_FOP ICON "resource/PPFILEOP.ICO"
Ic_PPE ICON "resource/PPEUI.ICO"

//------------------------------------------------------------------ ダイアログ
//-------------------------------------- 空
IDD_NULL DIALOG 0, 0, 1, 1
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
{
}
IDD_NULLMIN DIALOG 0, 0, 1, 1
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
{
}
//-------------------------------------- 汎用入力窓
IDD_INPUT DIALOG 0, 0, 310, 12
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Execute"
{
 CONTROL "", IDE_INPUT_LINE, "edit", IDE_INPUT_LINE_STYLE, 0, 0, 234, 12, WS_EX_ACCEPTFILES
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 234, 0, 25, 12
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 259, 0, 25, 12
 CONTROL "Re&f", IDB_REF, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 284, 0, 25, 12
}

//-------------------------------------- 汎用入力窓(参照行付き)
IDD_INPUTREF DIALOG 0, 0, 234, 41
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Execute"
{
 CONTROL "", IDE_INPUT_REF, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_NOHIDESEL, 0, 0, 234, 12, 0
 CONTROL "", IDE_INPUT_LINE, "edit", IDE_INPUT_LINE_STYLE, 0, 12, 234, 12, WS_EX_ACCEPTFILES

 CONTROL "&Extname", IDB_INPUT_EXT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 28, 44, 10, 0
 CONTROL "", IDE_INPUT_EXT, "edit", ES_LEFT | WS_CHILD | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 47, 27, 34, 12, WS_EX_ACCEPTFILES

 CONTROL "&Up", IDB_PREV, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 28, 25, 10, 0
 CONTROL "&Down", IDB_NEXT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 28, 25, 10, 0

 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 27, 28, 12, 0
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 27, 28, 12, 0
 CONTROL "Re&f", IDB_REF, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 27, 28, 12, 0
}
//-------------------------------------- 汎用入力窓(追加ボタン付き)
IDD_INPUT_OPT DIALOG 0, 0, 234, 31
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Execute"
{
 CONTROL "", IDE_INPUT_LINE, "edit", IDE_INPUT_LINE_STYLE, 0, 0, 234, 12, WS_EX_ACCEPTFILES
 CONTROL "&Option", IDB_INPUT_OPT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 18, 44, 10, 0
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 17, 28, 12, 0
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 17, 28, 12, 0
 CONTROL "Re&f", IDB_REF, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 17, 28, 12, 0
}
//-------------------------------------- ネットワーク接続
IDD_LOGIN DIALOG 0, 8, 250, 44
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Enter Login Password"
{
 CONTROL "Path", IDS_LOGINDRIVE, "static", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 2, 1, 56, 9, 0
 CONTROL "", IDS_LOGINPATH, "static", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 58, 1, 160, 9, 0
 CONTROL "&Username", IDS_LOGINUSER, "static", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 2, 11, 56, 9, 0
 CONTROL "", IDE_LOGINUSER, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_NOHIDESEL, 58, 11, 160, 10, 0
 CONTROL "&Password", IDS_LOGINPASS, "static", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 2, 22, 56, 9, 0
 CONTROL "", IDE_LOGINPASS, "edit", ES_LEFT | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_NOHIDESEL, 58, 22, 160, 10
 CONTROL "&Connect at relogin", IDX_LOGINRE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 58, 33, 160, 9, 0
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 220, 2, 28, 12
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 220, 16, 28, 12
}
//-------------------------------------- PPb の作業終了待ち
IDD_WAITPPB DIALOG 0, 0, 216, 36
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Execute"
{
 CONTROL "Wait for PPb...", IDS_WAITPPB, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 2, 8, 194, 9, 0
 CONTROL "C&ancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 21, 38, 12
 CONTROL "Execute with &self", IDB_WAITPPB_NOPPB, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 21, 82, 12
 CONTROL "Execute with &new PPb", IDB_WAITPPB_NEWPPB, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 21, 84, 12
}
//-------------------------------------- File Operation
//---- 共通
IDD_FOP DIALOG 0, 0, 254, 188
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX
CAPTION "File Operation Options"
#ifndef WINDRES
#ifndef WINEGCC
CLASS PPFileOpWinClass
#endif
#endif
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 0, 39, 12
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 14, 39, 12

 CONTROL "&Test", IDB_TEST, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 48, 39, 12, 0
 CONTROL "&?", IDHELP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 62, 12, 12, 0
 CONTROL "", IDC_FOP_MODE, "button", BS_PUSHBUTTON | BS_FLAT | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 92, 39, 12, 0

 CONTROL "", IDC_FOP_ACTION, "BUTTON", BS_PUSHBUTTON | BS_LEFT | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 80, 12
 CONTROL "&1:General", IDB_FOP_GENERAL, "BUTTON", BS_PUSHBUTTON | BS_LEFT | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 1, 40, 11
 CONTROL "&2:Rename", IDB_FOP_RENAME, "BUTTON", BS_PUSHBUTTON | BS_LEFT | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 1, 40, 11
 CONTROL "&3:Option", IDB_FOP_OPTION, "BUTTON", BS_PUSHBUTTON | BS_LEFT | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 1, 40, 11

 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 2, 110, 250, 1, 0
 CONTROL "Source Name", IDS_FOP_SRCPATH, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 113, 47, 9, 0
 CONTROL "", IDS_FOP_SRCNAME, PPXSTATICCLASS, WS_CHILD | WS_VISIBLE | WS_BORDER, 50, 113, 201, 10, 0
 CONTROL "", IDS_FOP_PROGRESS, PPXSTATICCLASS, WS_CHILD | WS_VISIBLE | WS_BORDER, 3, 123, 248, 10, 0
 CONTROL "Source entry", IDS_FOP_SRCTITLE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 135, 94, 9, 0
 CONTROL "Destination entry", IDS_FOP_DESTTITLE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 157, 135, 95, 9, 0
 CONTROL "", IDS_FOP_SRCINFO, PPXSTATICCLASS, WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 144, 95, 41, 0
 CONTROL "Attribute\nFile Size\nCreate Time\nWrite Time\nAccess Time", IDS_FOP_ATTRLABEL, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 98, 144, 58, 40, 0
 CONTROL "", IDS_FOP_DESTINFO, PPXSTATICCLASS, WS_CHILD | WS_VISIBLE | WS_BORDER, 156, 144, 95, 41, 0
}
//---- 一般
IDD_FOP_GENERAL DIALOG 0, 0, 254, 188
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION ""
{
 CONTROL "&Dest", IDS_FOP_DEST, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 14, 24, 9, 0
 CONTROL "", IDC_FOP_DESTDIR, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_NOHIDESEL | WS_VSCROLL, 27, 12, 180, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL "Re&f.", IDB_REF, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 34, 39, 12, 0
 CONTROL "Same Name Action", IDG_FOP_SAME, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 26, 106, 81, 0
 CONTROL "Only &new date", IDR_FOP_NEWDATE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 36, 98, 9, 0
 CONTROL "&Rename", IDR_FOP_RENAME, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 46, 98, 9, 0
 CONTROL "&Overwrite", IDR_FOP_OVER, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 56, 98, 9, 0
 CONTROL "&Skip", IDR_FOP_SKIP, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 66, 98, 9, 0
 CONTROL "With &archive", IDR_FOP_ARC, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 76, 98, 9, 0
 CONTROL "Add num&ber", IDR_FOP_ADDNUM, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 86, 98, 9, 0
 CONTROL "A&ppend", IDR_FOP_APPEND, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 96, 48, 9, 0
 CONTROL "DifferSi&ze", IDR_FOP_SIZE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 55, 96, 48, 9, 0
 CONTROL "Burst/self bufferin&g", IDX_FOP_BURST, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 26, 98, 9, 0
 CONTROL "F&lat/don't make tree", IDX_FOP_FLAT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 36, 98, 9, 0
 CONTROL "Copy S&ecurity attr.", IDX_FOP_SCOPY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 46, 98, 9, 0
 CONTROL "Copy SA&CL", IDX_FOP_SACL, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 56, 98, 9, 0
 CONTROL "&Keep directories", IDX_FOP_KEEPDIR, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_TABSTOP, 112, 66, 98, 9, 0
 CONTROL "Rename file on dest.(&V)", IDX_FOP_ADDNUMDEST, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 76, 98, 9, 0
 CONTROL "A&uto ""All"" check", IDX_FOP_AALL, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 86, 98, 9, 0
 CONTROL "All same action(&W)", IDX_FOP_SAME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 96, 98, 9, 0
}
//---- 名前変更
IDD_FOP_RENAME DIALOG 0, 0, 254, 188
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION ""
{
 CONTROL "R&ename", IDS_FOP_RENAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 14, 34, 9, 0
 CONTROL "", IDE_FOP_RENAME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 36, 12, 171, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL "S.&Num", IDS_FOP_RENUM, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 26, 34, 9, 0
 CONTROL "", IDE_FOP_RENUM, "edit", ES_LEFT |  WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 36, 24, 48, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL "Di&vide size", IDS_FOP_DIV, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 96, 26, 52, 9, 0
 CONTROL "", IDE_FOP_DIV, "combobox", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 152, 24, 55, 110, WS_EX_CLIENTEDGE
 CONTROL "Name Filter", IDG_FOP_NAME, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 38, 64, 71, 0
 CONTROL "Char. &Upper", IDX_FOP_UPPER, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 48, 56, 9, 0
 CONTROL "Char. &Lower", IDX_FOP_LOWER, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 58, 56, 9, 0
 CONTROL "&Forced 8.3", IDX_FOP_SFN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 68, 56, 9, 0
 CONTROL "Del. wron&g", IDX_FOP_DELSPC, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 78, 56, 9, 0
 CONTROL "Del. num&ber", IDX_FOP_DELNUM, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 88, 56, 9, 0
 CONTROL "Extr&act '%'", IDX_FOP_EXTRACTNAME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 98, 56, 9, 0
 CONTROL "Attributes", IDG_FOP_ATTR, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 72, 38, 80, 71, 0
 CONTROL "&Readonly", IDX_FOP_RONLY, "button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 48, 70, 9, 0
 CONTROL "&Hidden", IDX_FOP_HIDE, "button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 58, 70, 9, 0
 CONTROL "System(&X)", IDX_FOP_SYSTEM, "button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 68, 70, 9, 0
 CONTROL "&Archive", IDX_FOP_ARC, "button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 78, 70, 9, 0
 CONTROL "AutoReadonly &Off", IDX_FOP_AROFF, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 98, 72, 9, 0

 CONTROL "Make &Join batch", IDX_FOP_JOINBATCH, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 38, 85, 9, 0
 CONTROL "File &name fix", IDX_FOP_FILEFIX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 68, 85, 9, 0
 CONTROL "&Dir name fix", IDX_FOP_DIRFIX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 78, 98, 9, 0
 CONTROL   "1&st sheet", IDX_FOP_1STSHEET, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 98, 58, 9, 0
}
//---- その他
IDD_FOP_OPTION DIALOG 0, 0, 254, 188
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION ""
{
 CONTROL "&Silent new dir. warning", IDX_FOP_NOWCREATEDIR, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 16, 116, 9, 0
 CONTROL "s&Kip slight error", IDX_FOP_SKIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 26, 116, 9, 0
 CONTROL "no wait with &Result", IDX_FOP_LOGRWAIT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 36, 116, 9, 0
 CONTROL "Back up old file(&V)", IDX_FOP_BACKUPOLD, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 46, 116, 9, 0
 CONTROL "lo&G window", IDX_FOP_USELOGWINDOW, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 56, 116, 9, 0
 CONTROL "&Undo Log", IDX_FOP_UNDOLOG, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 66, 116, 9, 0
 CONTROL "&Low priority", IDX_FOP_LOWPRI, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 76, 116, 9, 0
 CONTROL "&Prevent from entering sleep", IDX_FOP_PREVENTSLEEP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 86, 126, 9, 0
 CONTROL "Allow &Decrypted destination", IDX_FOP_ALLOWDECRYPT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 96, 126, 9, 0

 CONTROL "&Count total size", IDX_FOP_COUNTSIZE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 16, 88, 9, 0
 CONTROL "check &Exist first", IDX_FOP_CHECKEXISTFIRST, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 26, 88, 9, 0
 CONTROL "seriali&Ze operate", IDX_FOP_SERIALIZE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 36, 88, 9, 0
 CONTROL "Move after close file", IDX_FOP_WAITCLOSE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 46, 88, 9, 0
// CONTROL "Auto &Burst mode", IDX_FOP_LOWPRI, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 46, 116, 9, 0

}
//-------------------------------------------------------------- バージョン情報
#ifndef WINDRES
#ifndef WINEGCC
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION	COM_ver
PRODUCTVERSION	COM_ver
FILEOS		VOS__WINDOWS32
FILETYPE	VFT_DLL
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	BLOCK "041103A4" // 言語=日本語(0x0411) およびキャラクタセット=SJIS(0x03a4)
	BEGIN
	  VALUE "Comments",		P_Comments "\0"
	  VALUE "CompanyName",	P_Company_NAME "\0"
	  VALUE "FileDescription",	"Paper Plane Common DLL\0"
	  VALUE "FileVersion",	FileProp_Version "\0"
	  VALUE "InternalName",	"PPCOMMON\0"
	  VALUE "LegalCopyright",	P_Copyright "\0"
	  VALUE "OriginalFilename", PPCOMMONDLL "\0"
	  VALUE "ProductName", "Paper Plane xUI\0"
	  VALUE "ProductVersion",	FileProp_Version "\0"
	END
  END
  BLOCK "VarFileInfo"
  BEGIN                               //  Language    |    Translation
	VALUE "Translation", 0x0411, 932  // Japanese     | Shift-JIS X-0208
  END
END
#endif
#endif
//------------------------------------------------------------------ ユーザ定義
DEFCUSTDATA RCDATA "resource/DEFCUST.CFG"
TOOLBARIMAGE BITMAP "resource/TOOLBAR.BMP"
