//-----------------------------------------------------------------------------
// Paper Plane Fix	リソース
//-----------------------------------------------------------------------------
#include "PPXVER.H"
#include "PPX.RH"

//-------------------------------------------------------------------- アイコン
1 ICON DISCARDABLE "resource/UNKNOWNL.ICO"

